/* Color vars */
:root {
  --background-color: #2C3D73;
  --card-background: #6793AC;
  --text-color:  #f8fafc;
  --button-text-color: #526EFF;
  --accent: #ffe352;
  --accent-secondary: #114AB1;
  --main-font: 'Open Sans';
  --exciting-font: 'Nabla';
}

html {
  scroll-behavior: smooth;
}

/* Body of the page */
body {
    background-color: var(--background-color);
    font-family: var(--main-font);
    color: var(--text-color);
}

/* Navbar */
.navbar {
  display: flex;
  background: var(--card-background);
  background: linear-gradient(180deg,rgba(103, 147, 172, 1) 74%, rgba(162, 189, 204, 1) 89%, rgba(248, 250, 252, 1) 100%);
  border-radius: 30px;
  padding: 10px 30px;
  margin: 0 auto;
  width: 95%;
  height: min-content;
  justify-content: space-between;
  align-items: center;
  font-family: var(--exciting-font);
  color: var(--text-color);
  font-size: 3vw;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-links {
  display: flex;
  list-style: none;
  font-size: 2vw;
  gap: 20px;
}

.logo:link {
    color: var(--text-color)
}

.logo:visited {
    color: var(--text-color)
}

.logo:hover {
  color: var(--accent)
}


/* Footer */
footer {
  text-align: center;
  border-radius: 30px;
  padding: 10px 30px;
  margin: 0 auto;
  width: 95%;
  height: 100px;
  background-color: var(--card-background);
  background: linear-gradient(360deg,rgba(103, 147, 172, 1) 74%, rgba(162, 189, 204, 1) 89%, rgba(248, 250, 252, 1) 100%);
  color: var(--text-color);
  margin-top: 50px;
}

/* Itch widget */
.itch-widget-container {
  width: 100%;
  max-width: 600px;
}

.itch-widget-container iframe {
  width: 100% !important;
  height: 100% !important;
  border: none;
}

/* card */
.card {
  overflow: hidden;
  height: auto;
  width: auto;
  background: var(--card-background);
  border-radius: 18px;
  box-shadow: 0 20px 40px rgba(15,23,42,0.12);
  display: grid;
  gap: 0;
  color: var(--text-color);
  flex: 1 1 45%; 
  min-width: 300px; /* Forces stack when container is narrow */
}

.card-body {
  padding: 24px 28px;
}

.card-body h1 {
  margin-top: 0;
  margin-bottom: 12px;
}

.card-body p {
  /* font-size: 1.5vw; */
  word-wrap: break-word;
  margin-left: auto;
}

/* button */
.btn {
  display: inline-block;
  padding: 12px 60px;
  border-radius: 999px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.2s ease;
  background: var(--accent);
  color: var(--button-text-color);
}

.btn:hover {
  background: var(--accent-secondary);
  color: var(--accent);
}

/* games-list */
.games-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: clamp(32px, 5vw, 80px);
  scroll-margin-top: 80px;
}

/* games */
.games {
  margin: 24px;
  display: grid;
  place-items: center;
}

/* Links */
.link:link {
    color: var(--text-color)
}

.link:visited {
    color: var(--text-color)
}

.link:hover {
  color: var(--accent)
}

/* hero */
.hero-image {
  flex: 1;
  height: 80vh;
  background-image: url("../images/hero-shot-cutout.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;

  --bottom: 10%;
  --top: 40%;
  -webkit-mask-image: linear-gradient(to top, transparent var(--bottom), black var(--top));
  mask-image: linear-gradient(to top, transparent var(--bottom), black var(--top));
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80vh;
  padding: 0 10%;
  border-radius: 18px;
  background: #2c4a5c;
  background: linear-gradient(160deg, rgba(44, 74, 92, 1) 0%, rgba(66, 99, 122, 1) 11%, rgba(123, 161, 183, 1) 21%, rgba(88, 134, 163, 1) 31%, rgba(90, 136, 173, 1) 44%, rgba(149, 180, 197, 1) 54%, rgba(98, 136, 158, 1) 66%, rgba(181, 202, 214, 1) 73%, rgba(202, 217, 226, 1) 84%, rgba(221, 231, 237, 1) 90%, rgba(248, 250, 252, 1) 100%);
  /* background: #6793AC; */
  /* background: linear-gradient(160deg, rgba(103, 147, 172, 1) 0%, rgba(120, 159, 181, 1) 11%, rgba(123, 161, 183, 1) 21%, rgba(132, 168, 188, 1) 31%, rgba(134, 169, 189, 1) 44%, rgba(149, 180, 197, 1) 54%, rgba(162, 189, 204, 1) 66%, rgba(181, 202, 214, 1) 73%, rgba(202, 217, 226, 1) 84%, rgba(221, 231, 237, 1) 90%, rgba(248, 250, 252, 1) 100%); */
}

.hero-content {
  flex: 1;
  padding-right: 50px;
}

.hero-content h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  font-family: var(--exciting-font);
}

.hero-content p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 30px;
  color: var(--text-color)
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
  }
  
  .hero-content {
    padding-right: 0;
    order: 2;
  }
  
  .hero-image {
    width: 100%;
    height: 300px;
    order: 1;
  }
}