/* Color vars */
:root {
  --background-color: #2C3D73;
  --card-background: #6793AC;
  --text-color:  #f8fafc;
  --accent: #E4580B;
  --accent-secondary: #114AB1;
}

/* Body of the page */
body {
    background-color: var(--background-color);
    font-family: 'Open Sans';
}

/* card */
.card {
  overflow: hidden;
  background: var(--card-background);
  border-radius: 18px;
  box-shadow: 0 20px 40px rgba(15,23,42,0.12);
  display: grid;
  gap: 0;
  color: var(--text-color)
}

.card-itch-io {
  max-width: 100%;
  border: none;
  background: transparent;
}

.card-body {
  padding: 24px 28px;
}

.card-body h1 {
  margin-top: 0;
  margin-bottom: 12px;
}

/* button */
.btn {
  display: inline-block;
  padding: 12px 60px;
  border-radius: 999px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.2s ease;
  background: var(--accent);
  color: var(--text-color);
}

.btn:hover {
  background: var(--accent-secondary);
  color: var(--text-color);
}

/* games-list */
.games-list {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  padding: clamp(32px, 5vw, 80px);
}

/* games */
.games {
  margin: 24px;
  display: grid;
  place-items: center;
}

/* Links */
.link:link {
    color: var(--text-color)
}

.link:visited {
    color: var(--accent-secondary)
}