/* Color vars */
:root {
  --background-color: #2C3D73;
  --card-background: #6793AC;
  --text-color:  #f8fafc;
  --button-text-color: #526EFF;
  --accent: #ffe352;
  --accent-secondary: #114AB1;
}

/* Body of the page */
body {
    background-color: var(--background-color);
    font-family: 'Open Sans';
}

/* Navbar */
.navbar {
  display: flex;
  background: var(--card-background);
  background: linear-gradient(180deg,rgba(103, 147, 172, 1) 74%, rgba(162, 189, 204, 1) 89%, rgba(248, 250, 252, 1) 100%);
  border-radius: 30px;
  padding: 10px 30px;
  margin: 0 auto;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  font-family: 'Nabla';
  color: var(--text-color);
  font-size: 3vw;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-links {
  display: flex;
  list-style: none;
  font-size: 2vw;
  gap: 20px;
}

/* Footer */
footer {
  text-align: center;
  padding: 2rem;
  background-color: var(--card-background);
  color: var(--text-color);
  margin-top: 50px;
}

/* Itch widget */
.itch-widget-container {
  width: 100%;
  max-width: 600px;
  /* margin: 10px; */
}

.itch-widget-container iframe {
  width: 100% !important;
  height: 100% !important;
  border: none;
}

/* card */
.card {
  overflow: hidden;
  height: auto;
  width: auto;
  background: var(--card-background);
  border-radius: 18px;
  box-shadow: 0 20px 40px rgba(15,23,42,0.12);
  display: grid;
  gap: 0;
  color: var(--text-color);
  flex: 1 1 45%; 
  min-width: 300px; /* Forces stack when container is narrow */
}

.card-body {
  padding: 24px 28px;
}

.card-body h1 {
  margin-top: 0;
  margin-bottom: 12px;
}

.card-body p {
  /* font-size: 1.5vw; */
  word-wrap: break-word;
  margin-left: auto;
}

/* button */
.btn {
  display: inline-block;
  padding: 12px 60px;
  border-radius: 999px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.2s ease;
  background: var(--accent);
  color: var(--button-text-color);
}

.btn:hover {
  background: var(--accent-secondary);
  color: var(--accent);
}

/* games-list */
.games-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: clamp(32px, 5vw, 80px);
}

/* games */
.games {
  margin: 24px;
  display: grid;
  place-items: center;
}

/* Links */
.link:link {
    color: var(--text-color)
}

.link:visited {
    color: var(--text-color)
}

.link:hover {
  color: var(--accent)
}