body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0A0F0D;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
}

.intro {
    max-width: 60%;
}

h1 {
    font-size: 5em;
    margin: 0;
}

h2 {
    font-size: 2.5em;
    margin: 0;
}

.name {
    color: #EE4266;
}

p {
    font-size: 1.2em;
    margin: 10px 0;
}

a {
    color: #fff;
}

.icons {
    display: flex;
    align-items: center;
    gap: 5em;
}

.icon {
    width: 10em;
    height: 10em;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.github {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg');
    filter: contrast(10%);
    -webkit-filter: contrast(10%);
}

.linkedin {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png');
}

.icon:hover {
    filter: invert(25%);
}
